<mat-card>
  <mat-card-header>
    <mat-card-title
      >{{ employeeDetail?.first_name }}
      {{ employeeDetail?.last_name }}</mat-card-title
    >
    <mat-card-subtitle>{{ employeeDetail?.email }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Wage: {{ employeeDetail?.hourly_wage }}</p>
    <p>Hours Worked: {{ employeeDetail?.hours_worked }}</p>
  </mat-card-content>
</mat-card>
