<section>
  <app-employee-list
    [employees]="employeeList | async"
    (employeeSelected)="employeesService.selectEmployee($event)"
  ></app-employee-list>

  <app-employee-view
    *ngIf="selectedEmployee | async"
    [employeeDetail]="selectedEmployee | async"
  ></app-employee-view>
</section>
